#header{
text-align: center;
width: 100%;
height: 15%;
padding-top: 35px;
color: white;
background-color: black;
}

#citylist{
border-style: solid;
width: 25%;
float: left;
height: 80%;
}

#input-title{
    margin-top: 20px;
    margin-left: 10%;
}

#add-city{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

#city-input{
    margin-right: 10%;
}

#mainweather{
border-style: solid;
width: 75%;
float: right;
height: 40%;
}

#fivedayforecast{
border-style: solid;
width: 75%;
float: right;
height: 40%;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-left: none;
    border-right: none;
    border-bottom: none;  
    height: 5%
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
